[submodule "2026-07-03/Battle-Mascot"]
	path = 2026-07-03/Battle-Mascot
	url = https://github.com/acegoal07/Battle-Mascot.git
[submodule "2026-07-17/tufty2040-ducky"]
	path = 2026-07-17/tufty2040-ducky
	url = https://github.com/acegoal07/tufty2040-ducky.git
